*{
    background-color: cyan;
}
#two{
    background-color: cyan;
    text-align: center;
    font-size: xx-large;
}

nav li{
    font-size: 50px;
    font-weight: bolder;
    font-style: italic;
    font-stretch: expanded;
    text-align: center;
}

#one{
    font-size: larger;
    width:400px
    border: 2px solid black;
    text-align:center;
}
#three{
    text-align: center;
    font-size: xx-large;
    background-color: cyan;
}